In [18]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
df=pd.read_csv('buys_comp_dataset.csv')
df0=pd.read_csv('buys_comp_dataset.csv')
df

    age  income  student  credit_rating  buys_computer
0     1       0        0              1              0
1     1       0        0              0              0
2     0       0        0              1              1
3     2       2        0              1              1
4     2       1        1              1              1
5     2       1        1              0              0
6     0       1        1              0              1
7     1       2        0              1              0
8     1       1        1              1              1
9     2       2        1              1              1
10    1       2        1              0              1
11    0       2        0              0              1
12    0       0        1              1              1
13    2       2        0              0              0

In [16]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df["age"] = label_encoder.fit_transform(df["age"])
df["income"] = label_encoder.fit_transform(df["income"])
df["student"] = label_encoder.fit_transform(df["student"])
df["credit_rating"] = label_encoder.fit_transform(df["credit_rating"])
df["buys_computer"] = label_encoder.fit_transform(df["buys_computer"])


df.to_csv('buys_comp_dataset.csv')

df

    age  income  student  credit_rating  buys_computer
0     1       0        0              1              0
1     1       0        0              0              0
2     0       0        0              1              1
3     2       2        0              1              1
4     2       1        1              1              1
5     2       1        1              0              0
6     0       1        1              0              1
7     1       2        0              1              0
8     1       1        1              1              1
9     2       2        1              1              1
10    1       2        1              0              1
11    0       2        0              0              1
12    0       0        1              1              1
13    2       2        0              0              0

### A1

In [19]:
dout = (df['buys_computer']).value_counts()
total_count = df['buys_computer'].count()
probability=[(dout[1]/total_count),(dout[0]/total_count)]
print(probability)

[0.6428571428571429, 0.35714285714285715]

### A2

In [ ]:
df1=df0.loc[df0['buys_computer'] == 'yes']
df2=df0.loc[df0['buys_computer'] == 'no']

# Age
age1=[df1.loc[df1['age']== 0].shape[0]/df1.shape[0],df1.loc[df1['age']== 1].shape[0]/df1.shape[0],df1.loc[df1['age']== 2].shape[0]/df1.shape[0]]
age2=[df2.loc[df2['age']== 0].shape[0]/df2.shape[0],df2.loc[df2['age']== 1].shape[0]/df2.shape[0],df2.loc[df2['age']== 2].shape[0]/df2.shape[0]]
print(age1)
print(age2)

#income
inc1=[df1.loc[df1['income']== 'low'].shape[0]/df1.shape[0],df1.loc[df1['income']== 'medium'].shape[0]/df1.shape[0],df1.loc[df1['income']== 'high'].shape[0]/df.shape[0]]
inc2=[df2.loc[df2['income']== 'low'].shape[0]/df2.shape[0],df2.loc[df2['income']== 'medium'].shape[0]/df2.shape[0],df2.loc[df2['income']== 'high'].shape[0]/df1.shape[0]]
print(inc1)
print(inc2)

In [ ]:
#Student
stu1=[df1.loc[df1['student']== 'yes'].shape[0]/df1.shape[0],df1.loc[df1['student']== 'no'].shape[0]/df1.shape[0]]
stu2=[df2.loc[df2['student']== 'yes'].shape[0]/df2.shape[0],df2.loc[df2['student']== 'no'].shape[0]/df2.shape[0]]
print(stu1)
print(stu2)



#Credit_rating
cred1=[df1.loc[df1['credit_rating']== 'excellent'].shape[0]/df1.shape[0],df1.loc[df1['credit_rating']== 'fair'].shape[0]/df1.shape[0]]
cred2=[df2.loc[df2['credit_rating']== 'excellent'].shape[0]/df2.shape[0],df2.loc[df2['credit_rating']== 'fair'].shape[0]/df2.shape[0]]
print(cred1)
print(cred2)

### A3

In [22]:


matrix=[]
arr=[]
for i in range(0,4):
  arr.append(df.iloc[:,i].to_numpy())
for i in range(0,4):
  mat=[]
  for j in range(i+1,4):
    mat.append(np.dot(arr[i],arr[j]))
  matrix.append(mat)

print(matrix)

[[21, 8, 9], [8, 8], [4], []]

### A4

In [23]:


from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
train_data=df.iloc[:,:-1]
y=df.iloc[:,-1]
train_x,test_x,train_y,test_y = train_test_split(train_data,y,test_size=0.3)

In [24]:
model = GaussianNB()
model.fit(train_x,train_y)
model.score(test_x,test_y)

0.4

### A5

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report

data = pd.read_excel('embeddingsdata.xlsx')

X = data.iloc[:, :-1]  # Features
y = data.iloc[:, -1]   # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

classifier = GaussianNB()

classifier.fit(X_train, y_train)

predictions = classifier.predict(X_test)

# Evaluating the classifier
accuracy = accuracy_score(y_test, predictions)
print(f"Accuracy: {accuracy:.2f}")

# Printing classification report
print(classification_report(y_test, predictions))